<article class="donation">
  <h1>Támogatás</h1>
  <!--button class="donate-btn" (click)="openModal()">💳 Online adományozás</button-->

  <p>Saját tervezésű kézműves termékek készítésével is foglalkozunk, melyből befolyt összeget gyógykezelésemre,
    fejlesztésemre fordítjuk.</p>

  <p>Minden segítség kritikusan fontos, legyen az pénzbeli felajánlás vagy egy olyan tárgy, amit licitre tudunk
    bocsátani. Mindennel segítesz!</p>

  <h2>Hogyan támogathatsz?</h2>

  <p><strong>Banki utalással:</strong></p>
  <div class="info-box">
    <p>
      {{ donationData.name }}
      <button class="copy-btn" (click)="copyToClipboard(donationData.name)" title="Másolás">
        <img src="./images/content_copy.svg" alt="Másolás" class="copy-icon">
      </button>
    </p>
    <p>
      Bankszámlaszám: <strong>{{ donationData.accountNumber }}</strong>
      <button class="copy-btn" (click)="copyToClipboard(donationData.accountNumber)" title="Másolás">
        <img src="./images/content_copy.svg" alt="Másolás" class="copy-icon">
      </button>
    </p>
    <p>
      IBAN: <strong>{{ donationData.iban }}</strong>
      <button class="copy-btn" (click)="copyToClipboard(donationData.iban)" title="Másolás">
        <img src="./images/content_copy.svg" alt="Másolás" class="copy-icon">
      </button>
    </p>
    <p>
      SWIFT/BIC: <strong>{{ donationData.swift }}</strong>
      <button class="copy-btn" (click)="copyToClipboard(donationData.swift)" title="Másolás">
        <img src="./images/content_copy.svg" alt="Másolás" class="copy-icon">
      </button>
    </p>
    <p>Bank: {{ donationData.bank }}</p>
  </div>

  <p><strong>REpont üvegvisszaváltással:</strong></p>
  <div class="info-box">
    <p>A visszaváltáskor kapott összeget felajánlhatod az alapítványnak!</p>
    <img src="./images/repont_qr.jpg" alt="REpont QR kód" class="qr-thumbnail"
      (click)="openImage('./images/repont_qr.jpg')">
  </div>

  <p><strong>SZJA 1% felajánlásával:</strong></p>
  <div class="info-box">
    <p>{{ donationData.name }}</p>
    <p>Nyilvántartási szám: <strong>{{ donationData.registrationNumber }}</strong><button class="copy-btn"
        (click)="copyToClipboard(donationData.registrationNumber)" title="Másolás"></button></p>
    <p>Adószám: <strong>{{ donationData.taxNumber }}</strong><button class="copy-btn"
        (click)="copyToClipboard(donationData.taxNumber)" title="Másolás"></button></p>
  </div>
  <p><strong>Cégként:</strong></p>
  <p>Amennyiben cégként támogatsz, alapítványunk igazolást állít ki a támogatás összegéről.</p>

  <h2>Alapítvány adatai</h2>

  <div class="info-box">
    <p>Kiss-Nagy Zsomborért Alapítvány</p>
    <p>Nyilvántartási szám: <strong>10-01-0001211</strong></p>
    <p>Adószám: <strong>19288026-1-10</strong></p>
  </div>

  <p>Kérlek, hogy ha szeretnél támogatni az utamon, az alapítványon keresztül tedd meg!</p>
</article>
@if (showModal) {
<app-donation-modal (closeModal)="closeModal()"></app-donation-modal>
}

@if (selectedImage) {
<div class="image-modal" (click)="closeImage()">
  <img [src]="selectedImage" alt="QR kód nagyban">
</div>
}